<h1>Index Page, Listing Quote Categories</h1>
<br>
<% @quotes.uniq.pluck('category').sort.each do |category| %>
 <ul>  
 <li>
   <!-- .text is a method that refers to quotetext in the quotescopy table that I defined in the model.rb !-->
  <%= category %> 
</li>
 </ul> 
 <% end %>
