<% @page_title = "New" %>
<h1>Create New Quote</h1>
  <%=  render(partial: 'error_messages', locals: {:object => @quote}) %> 

<%= form_for (:quote), url: quotes_path do |f| %>
  <%= render partial: 'form', locals: {:foo => f} %>
  <button type="submit" class="btn btn-success">Create Quote</button>
<% end %>

<br>
<%= link_to 'Home', quotes_path, :class => "btn btn-default" %>