// Place all the styles related to the Author controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page_entries {
	font-size: 0.8em;
	font-style: italic;
}

#nextPrevNav {
	float: right;
	display: inline;
}

#authorShowMainNav {
	display: inline;
}