// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#endOfTable {
	margin-top: -1%;
}

#page_info {
	float: right;	
	margin-top: 0.5%;
	line-height: 0;
}

#CategoryPagination
{
	display: inline;
	float: right;
}

#CategoryNavigation {
	float: left;	
	margin-bottom: 1.5%;
}

#CategoryNavButtons {
	float: left;
	display: inline;;
}

#CategoryList {
	margin-top: 2%;
	border: 1px solid black;
	a {
		font-size: 150%;
	}
	li {
		margin: 2%;
		margin-bottom: 3%;
		display: inline-block;
	}
}

#CategoryContainer {
	clear: both;
}

