// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#quote {
	font-size: 1.5em;
	line-height: 1.5;
	margin-left: 2%;
	margin-bottom: 4%;
}

#author {
	font-style: italic;
	font-size: 1.2em;
	font-family: serif;
}

#search {
	font-size: 1.5em;
}

input {
	width: 250px;
}